/*
    main.css is the usual name for a CSS which will be used on all/most pages.
*/

/* Set defaults */
*{
    padding:0;
    margin:0;
}

/* Variables */
:root{
    --header-color : #292929;
    --header-horizontal-padding: 40px;    
    --header-vertical-padding: 10px;
}



/* Styling for Navigation-bar / Header */
.header{
        position: fixed;
        top: 0;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding-left: var(--header-side-padding);
        padding-right: var(--header-side-padding);
        padding-top: var(--header-vertical-padding);
        padding-bottom: var(--header-vertical-padding);

        background-color: var(--header-color);

        .title{
            margin-left: 20px;
            color: white;
        }

        .nav-bar{
           margin-right: 20px;
           
           .nav-bar_button{
            color: white;
            font-size: 16px;
            padding-left: var(--header-vertical-padding);
            padding-right: var(--header-vertical-padding);
            text-decoration: none;
           }
        }
    }

/* Resource display */
.user_resources{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        margin-top: 100px;
        margin-bottom: 50px;
        
        .icon_container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px;

            .resource_icon{
                width: 30px;
                padding: 10px;
            }

            .resource_count_text{
                font-size: 20px;
            }
        }
}

/* Styling for "getting-resources.html" */
.resources_main{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding-top: 50px;

    .places{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .resource_image{
            width: 50%;
            border-radius: 100px;
            margin: 20px;
        }
        .mines:hover{
            cursor: url(../images/pickaxe-cursor.png), auto;
        }
        .woods:hover{
            cursor: url(../images/axe-cursor.png), auto;
        }
        
    }
}


/* Shop */
.shop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .warriors_grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-auto-flow: column;
        grid-gap: 20px;
        

        .warrior_item{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            border: 2px dotted black;
            border-radius: 50px;

            .warrior_image{
                height: 400px;
            }
        }
    }

    .animals_grid{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        grid-gap: 20px;

        .animal_item{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            border: 2px dotted black;
            border-radius: 50px;

            .animal_image{
                height: 330px;
            }
        }
    }
    
    .machines_grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-auto-flow: row;
        grid-gap: 20px;

        .machine_item{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            border: 2px dotted black;
            border-radius: 50px;

            .animal_image{
                width: 500px;
            }
        }
    }

    .icon_container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px;

            .resource_icon{
                width: 30px;
                padding: 10px;
            }

            .resource_count_text{
                font-size: 20px;
            }
    }
}

/* your_army.html  */
.your-army{
    display: flex;
    flex-direction: column; 

    .your-army_warriors{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: 100%;    

        .warrior{
            grid-column: auto / span 1;
            height: 300px;
        }
    }
    .your-army_other{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: 100%;

        .other{
            grid-column: auto / span 2;
            height: 300px;
        }
    }
}

@media screen and (max-width: 900px){
    .resources_main{
        .places{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .resource_image{
                width: 80%;
            }

        }
    }
    .shop{
        .warriors_grid{
            margin: 20px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }
}